.toggleAllTaskDoneButton {
    border: none;
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    background-color: white;
    color: teal;
    padding: 20px 15px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    transition: 1s;
}

.toggleAllTaskDoneButton:hover {
    color: hsl(180, 96%, 35%);
}

.toggleAllTaskDoneButton:active {
    color: hsl(180, 96%, 40%);
}

.toggleAllTaskDoneButtonDisabled {
    display: none;
}

@media (max-width: 768px) {
    .toggleAllTaskDoneButton {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        border: none;
        padding: 20px;
    }
}