.list {
    background-color: white;
    margin: 5px 0 10px;
    border: 1px solid #eee;
    border-collapse: collapse;
    padding: 15px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: auto;
}

.list__item {
    list-style-type: none;
}

.list__item--done {
    text-decoration: line-through;
}

.list__doneButton {
    border: none;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
}

.list__removeButton {
    border: none;
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
}
