.list {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
}

@media (max-width: 768px) {
    .list {
        margin: 10px 0;
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
    }
}

.list__header {
    background-color: white;
    border: 1px solid #eee;
    border-collapse: collapse;
    font-size: 20px;
    padding: 20px 15px;
    margin: 5px 0px 1px;
}

@media (max-width: 768px) {
    .list__header {
        display: flex;
        flex-basis: 100%;
        margin: 0 0 1px;
    }
}

.list__tasks {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #eee;
    border-collapse: collapse;
    padding: 15px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
}

.list__item {
    background-color: white;
    list-style-type: none;
    padding: 10px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #eee;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 12px;

}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    border: none;
    background-color: white;
}
