.section {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 60px 80px;
    word-break: break-word;
}


@media (max-width: 768px) {
    .section {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        }
}

.section__header {
    max-width: 800px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #eee;
    border-collapse: collapse;
    font-size: 20px;
    padding: 20px 15px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    align-content: center;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .section__header {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        margin: 0;
    }
}

.section__header--list {
    max-width: 800px;
    width: 100%;
    background-color: white;
    border: 1px solid #eee;
    border-collapse: collapse;
    font-size: 20px;
    padding: 20px 15px;
    margin: 0 auto;
    display: grid;
    grid-column-start: 1;
}

@media (max-width: 768px) {
    .section__header--list {
        display: flex;
        flex-basis: 100%;
        margin: 0 0 1px;
    }
}

.section__tasks {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 15px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
}

