.section {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 100px 80px 80px;
    grid-row-gap: 1px;
    word-break: break-word;
}

@media (max-width: 768px) {
    .section {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        }
}

.section__header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    align-items: end;
    margin: 50px 0 20px;
}

@media (max-width: 768px) {
    .section__header {
        margin: 50px 0px 15px;
    }
}

.section__subheader {
    background-color: white;
    border: 1px solid #eee;
    border-collapse: collapse;
    font-size: 20px;
    margin: 15px 0 1px;
    padding: 20px 15px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
}

@media (max-width: 768px) {
    .section__subheader {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        margin: 0;
    }
}
