.section {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    word-break: break-word;
    box-shadow: 0 0 5px #ddd;
}


@media (max-width: 768px) {
    .section {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        }
}

.section__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
    .section__list {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex-wrap: wrap;
    }
}

.section__header {
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #eee;
    font-size: 20px;
    padding: 20px 15px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .section__header {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        margin: 0;
    }
}

.section__header--list {
    background-color: white;
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    font-size: 20px;
    padding: 20px 15px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .section__header--list {
        max-width: 100%;
        margin: 0;
        border: none;
    }
}


.section__tasks {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 15px;
}



