html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

@media (max-width: 768px) {
    .body {
        margin: 0 15px;
    }
}